<div>
    <h1> Adding cv </h1>

    <form [formGroup]="cvCreateForm" (ngSubmit)="onCreate()">
        <label for="cvTitle"> CV Title:
            <input type="text" formControlName="cvTitle"><br>
        </label>

        <label for="userFirstName"> First name:
            <input type="text" formControlName="userFirstName"><br>
        </label>

        <label for="userLastName"> Last name:
            <input type="text" formControlName="userLastName"><br>
        </label>

        <input type="submit" value="Create">
    </form>
</div>